@import url(uno.css);
@import url(monokai.css);

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 2px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

footer {
	display: block;
	padding: 2em 0 2em 0;
	font-size:.8em;
	color: #b3b3b3;
  background-color: #F000;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80px;
  width: 70%;
  overflow:hidden;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.front-image {
  float: left;
  margin-right: 30px;
  margin-bottom: 15px;
}

td {
  vertical-align: top;
  padding: 15px;
  text-align: left;
}

div .content-section {
  margin: 20px auto;
	border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.larger {
  font-size: 18px;
  font-weight: bold;
}

div .site-info {
    margin-top: 100px;
}

@media all and (max-width: 960px) {
  .blog-button {
		width: 87%;
	}
	footer {
		display: block;
		font-size:.6em;
		color: #b3b3b3;
	  background-color: #F000;
	  height: 80px;
	  width: 100%;
	  overflow:hidden;
	}
}
